Repository maikvandergaag/msft-extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/armttk-pipeline.yml, pipelines/powerbiactions-pipeline.yml, pipelines/powerbiactions-xplat.yml

pipelines/armttk-pipeline.yml:
  name: $(buildversion)
  pool:
    vmImage: windows-latest
  steps:
  - task: TfxInstaller@2
    displayName: Install TFX
    inputs:
      version: v0.6.x
  - task: PackageAzureDevOpsExtension@2
    displayName: Package extension
    inputs:
      rootFolder: azuredevops/arm-ttk
      outputVariable: ExOutputPath
  ...

pipelines/powerbiactions-pipeline.yml:
  name: $(buildversion)
  pool:
    vmImage: windows-latest
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: null
      pool: azure-scale-set-win
      continueOnError: false
      steps:
      - template: steps/powerbiactions/build.yml
  - stage: Release
    displayName: Test
  ...

pipelines/powerbiactions-xplat.yml:
  name: $(buildversion)
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: null
      pool:
        vmImage: windows-latest
        demands: azureps
      continueOnError: false
      steps:
      - template: steps/build.yml
  - stage: Beta
    displayName: Test
  ...

Added support to set SQL datasource credentials to a Service Principal
  azuredevops/powerbiactions-new/powerbiactionsnew/ps_modules/PowerBi/powerbi.psm1
  azuredevops/powerbiactions-new/powerbiactionsnew/run.ps1
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
Due: none

Added support to set SQL datasource credentials to a Service Principal (#536)
  azuredevops/powerbiactions-new/powerbiactionsnew/ps_modules/PowerBi/powerbi.psm1
  azuredevops/powerbiactions-new/powerbiactionsnew/run.ps1
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
Due: none

Update powerbiactions-new.yml
  pipelines/powerbiactions-new.yml
Due: none

Update powerbiactions-new.yml (#537)
  pipelines/powerbiactions-new.yml
Due: none

Fixed the rogue space that snuck in
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
Due: none

Fixed the rogue space that snuck in (#538)
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
Due: none

Update task.json
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
Due: none

Update task.json (#539)
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
Due: none

updated xplat version
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/index.ts
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/ps_modules/PowerBI/powerbi.psm1
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/run.ps1
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/task.json
Due: pipelines/powerbiactions-xplat.yml

updated comment
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/index.ts
Due: pipelines/powerbiactions-xplat.yml

fix: upgrade azure-pipelines-task-lib from 4.4.0 to 4.13.0
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json
Due: pipelines/powerbiactions-xplat.yml

fix: upgrade winston from 2.3.1 to 2.4.7
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json
Due: pipelines/powerbiactions-xplat.yml

Update run.ps1
  azuredevops/powerbiactions-new/powerbiactionsnew/run.ps1
Due: none

Update powerbi.psm1
  azuredevops/powerbiactions-new/powerbiactionsnew/ps_modules/PowerBi/powerbi.psm1
Due: none

fix: upgrade winston from 2.3.1 to 2.4.7 (#552)
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json
Due: pipelines/powerbiactions-xplat.yml

fix: upgrade azure-pipelines-task-lib from 4.4.0 to 4.13.0 (#551)
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json
Due: pipelines/powerbiactions-xplat.yml

fix: upgrade azure-pipelines-task-lib from 4.13.0 to 4.17.3
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json
Due: pipelines/powerbiactions-xplat.yml

use templateParameters instead of parameters
  azuredevops/triggerpipeline-new/triggerpipeline/run-build.ps1
Due: none

Updated timeout to be configurable
  azuredevops/powerbiactions-new/powerbiactionsnew/ps_modules/PowerBi/powerbi.psm1
  azuredevops/powerbiactions-new/powerbiactionsnew/run.ps1
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
Due: none

Updated release notes
  azuredevops/powerbiactions-new/readme.md
Due: none

Timeout is now configurable (#580)
  azuredevops/powerbiactions-new/powerbiactionsnew/ps_modules/PowerBi/powerbi.psm1
  azuredevops/powerbiactions-new/powerbiactionsnew/run.ps1
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
  azuredevops/powerbiactions-new/readme.md
Due: none

removed occording the DMCA
  azuredevops/arm-ttk/arm-ttk/task.json
  azuredevops/arm-ttk/vss-extension.json
  azuredevops/azurekeyvault/azurekeyvault/task.json
  azuredevops/azurekeyvault/vss-extension.json
  azuredevops/azurerbac/azurerbac/task.json
  azuredevops/azurerbac/vss-extension.json
  azuredevops/azureresourcegroup/azureresourcegroup/task.json
  azuredevops/azureresourcegroup/vss-extension.json
Due: pipelines/armttk-pipeline.yml

fix: upgrade azure-pipelines-task-lib from 4.13.0 to 4.17.3 (#572)
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json
Due: pipelines/powerbiactions-xplat.yml

removed occording the DMCA (#581)
  azuredevops/arm-ttk/arm-ttk/task.json
  azuredevops/arm-ttk/vss-extension.json
  azuredevops/azurekeyvault/azurekeyvault/task.json
  azuredevops/azurekeyvault/vss-extension.json
  azuredevops/azurerbac/azurerbac/task.json
  azuredevops/azurerbac/vss-extension.json
  azuredevops/azureresourcegroup/azureresourcegroup/task.json
  azuredevops/azureresourcegroup/vss-extension.json
Due: pipelines/armttk-pipeline.yml

Add workflow_dispatch trigger to close-issues.yml
  .github/workflows/close-issues.yml
Due: none

updated naming for dmca
  pipelines/variables/azurekeyvault.variables.yml
  pipelines/variables/azurerbac.variables.yml
  pipelines/variables/azureresourcegroup.variables.yml
  pipelines/variables/azurergtag.variables.yml
Due: none

Features/dmca resourcegroup (#582)
  pipelines/variables/azurekeyvault.variables.yml
  pipelines/variables/azurerbac.variables.yml
  pipelines/variables/azureresourcegroup.variables.yml
  pipelines/variables/azurergtag.variables.yml
Due: none

updated the extensions to remove Microsoft Trademarks occording to a email
  azuredevops/powerbiactions-new/connection-icon.png
  azuredevops/powerbiactions-new/images/connection-icon.png
  azuredevops/powerbiactions-new/images/icon.png
  azuredevops/powerbiactions-new/powerbiactionsnew/icon.png
  azuredevops/powerbiactions-new/powerbiactionsnew/run.ps1
  azuredevops/powerbiactions-new/powerbiactionsnew/task.json
  azuredevops/powerbiactions-new/readme.md
  azuredevops/powerbiactions-new/vss-extension.json
  azuredevops/powerbiactions-xplat/connection-icon.png
  azuredevops/powerbiactions-xplat/images/connection-icon.png
  azuredevops/powerbiactions-xplat/images/icon.png
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/icon.png
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/task.json
  azuredevops/powerbiactions-xplat/readme.md
  azuredevops/powerbiactions-xplat/vss-extension.json
  azuredevops/powerbiactions/connection-icon.png
  azuredevops/powerbiactions/images/connection-icon.png
  azuredevops/powerbiactions/images/icon.png
  azuredevops/powerbiactions/powerbiactions/icon.png
  azuredevops/powerbiactions/powerbiactions/task.json
  azuredevops/powerbiactions/readme.md
  azuredevops/powerbiactions/vss-extension.json
  pipelines/variables/powerbiaction-new.variables.yml
  pipelines/variables/powerbiaction-xplat.variables.yml
  pipelines/variables/powerbiaction.variables.yml
  readme.md
Due: pipelines/powerbiactions-pipeline.yml, pipelines/powerbiactions-xplat.yml

updated images
  azuredevops/powerbiactions-new/connection-icon.png
  azuredevops/powerbiactions-new/images/connection-icon.png
  azuredevops/powerbiactions-new/images/icon.png
  azuredevops/powerbiactions-new/powerbiactionsnew/icon.png
  azuredevops/powerbiactions-xplat/connection-icon.png
  azuredevops/powerbiactions-xplat/images/connection-icon.png
  azuredevops/powerbiactions-xplat/images/icon.png
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/icon.png
  azuredevops/powerbiactions/connection-icon.png
  azuredevops/powerbiactions/images/connection-icon.png
  azuredevops/powerbiactions/images/icon.png
  azuredevops/powerbiactions/powerbiactions/icon.png
Due: pipelines/powerbiactions-pipeline.yml, pipelines/powerbiactions-xplat.yml

fix: azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json & azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json to reduce vulnerabilities
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package-lock.json
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/package.json
Due: pipelines/powerbiactions-xplat.yml

fix: correct ReportId and ReportName output variables in PowerBI tasks
  azuredevops/powerbiactions-new/powerbiactionsnew/ps_modules/PowerBi/powerbi.psm1
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/ps_modules/PowerBI/powerbi.psm1
Due: pipelines/powerbiactions-xplat.yml

Add TypeScript installation step in build pipeline
  pipelines/steps/build-node.yml
Due: none

Add TypeScript installation step in build pipeline (#595)
  pipelines/steps/build-node.yml
Due: none

fix: correct ReportId and ReportName output variables in PowerBI tasks (#594)
  azuredevops/powerbiactions-new/powerbiactionsnew/ps_modules/PowerBi/powerbi.psm1
  azuredevops/powerbiactions-xplat/powerbiactionsxplat/ps_modules/PowerBI/powerbi.psm1
Due: pipelines/powerbiactions-xplat.yml

Path conditions:
  pipelines/armttk-pipeline.yml: any of: azuredevops/arm-ttk
  pipelines/powerbiactions-pipeline.yml: any of: azuredevops/powerbiactions
  pipelines/powerbiactions-xplat.yml: any of: azuredevops/powerbiactions-xplat, pipelines/powerbiactions-xplat.yml
